<div class="aw-container-wrap">
    <div class="container">
        <div class="row">
            <div class="aw-content-wrap clearfix">
                <div class="col-sm-12 col-md-9 aw-main-content">
                    <!--文章的检索-->
                    <ul class="nav nav-tabs aw-nav-tabs active hidden-xs">
                        <li class=""><a href="/?category=share">分享</a></li>
                        <li class=""><a href="/?category=ask">问答</a></li>
                        <li class=""><a href="/?category=job">招聘</a></li>
                        <h2 class="hidden-xs"><i class="fa fa-bars"></i> 发现</h2>
                    </ul>
                    <!--文章的检索-->
                    <!--文章列表-->
                    <div class="aw-mod aw-explore-list">
                        <div class="mod-body">
                            <div class="aw-common-list abc">
                                <% questions.forEach(question=>{ %>
                                <div class="aw-item">
                                    <a class="aw-user-name hidden-xs" href="/user/<%= question.author.name%>"><img src="<%= question.author.avatar%>"></a>
                                    <div class="aw-question-content">
                                        <h4>
                                            <a href="/question/<%= question._id%>"><%= question.title%></a>
                                        </h4>
                                        <% if(question.last_reply_author){%>
                                        <div>
                                            <a href="#"  class=" text-color-999 "></a>
                                        </div>
                                        <%}%>

                                        <div>
                                        <a href="#" class="pull-right text-color-999 ">回复</a>
                                        </div>
                                        <p>
                                            <a href="/user/<%= question.author.name%>" class="aw-user-name"><%= question.author.name%></a>
                                            <span class="text-color-999">
                                                发起了问题 • <%= question.follow_num %>人关注 • <%= question.comment_num %> 个回复 •<%= question.click_num %> 次浏览 • <%= question.update_time_ago()%>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                               <% })%>
                            </div>
                        </div>
                        <div class="mod-footer">
                            <div class="page-control">
                                <ul class="pagination pull-right">
                                    <% for(var i = 1;i<=Math.ceil(count/5);i++){%>
                                    <li class="indexPage " target="/indexBody?category=<%=questions[0].category%>&page=<%= i %>">
                                        <a href="#" ><%= i %></a>
                                    </li>
                                    <%}%>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!--侧边栏-->
                <div class="col-sm-12 col-md-3 aw-side-bar hidden-xs hidden-sm">
                    <% include public/userInfo %>
                    <% include public/hotUser %>
                </div>
            </div>
        </div>
    </div>
</div>
