<div class="aw-item" message-id="<%= message._id %>" style="padding-left: 0">
    <div>
        <a href="/user/<%= message.author_id.name %>">
            <%= message.author_id.name %>
        </a>
        在
        <a href="/question/<%= message.question_id._id %>">
            <%= message.question_id.title %>
        </a>
        回复了我
        <button ng-click="readOne(<%= index %>)" class="btn btn-primary pull-right btn-sm">确认已读</button>
    </div>
</div>